{% extends "deployments/deployment_base.html" %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
	$(document).ready(function() {
		$(".link-row").click(function() {
			window.document.location = $(this).data("url");
		});
	});
</script>
{% endblock %}


{% block content %}
<div class="row">
	<div class="col-md-12">
		<h1>Deployment Details <small>[{{ object.designator }}]</small></h1>
		<hr>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>Details</strong>
			</div>
			<div class="panel-body">
				<table class="table table.condensed">
					<tr>
						<th>Platform:</th>
						<td><a href="{% url 'deployments:list' %}?platform={{ object.platform }}">{{ object.platform }}</a></td>
					</tr>
					<tr>
						<th>Number:</th>
						<td>{{ object.number }}</td>
					</tr>
					<tr>
						<th>Data Source:</th>
						<td><a href="{% url 'deployments:list' %}?data_source={{ object.data_source }}">{{ object.data_source }}</a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>Tools & History</strong>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-9 short-viewport">
						<table class="table table-condensed table-monospace table-detailed">
							<thead>
								<tr>
									<th>Timestamp</th>
									<th>User</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								{% for action in object.actions.all|dictsortreversed:"timestamp" %}
								<tr class='main-row'>
									<td>{{ action.timestamp }}</td>
									<td>{{ action.user.get_full_name }}</td>
									<td>{{ action.action }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<div class="col-md-3">
						<form enctype="multipart/form-data" action="" method="post">
							{% csrf_token %}
							<input type="submit" name="_process_csv" value="Reprocess CSV" class="btn btn-default"/>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>Ingestions</strong>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-9 short-viewport">
						<table class="table table-condensed table-monospace table-detailed">
							<thead>
								<tr>
									<th>Index</th>
									<th>Timestamp</th>
									<th>Status</th>
									<th>Active</th>
								</tr>
							</thead>
							<tbody>
								{% for ingestion in object.ingestions.all|dictsortreversed:"timestamp" %}
								<tr class='main-row link-row' data-url="{% url 'deployments:ingestion_detail' object.designator ingestion.index %}">
									<td>{{ ingestion.index }}</td>
									<td>{{ ingestion.timestamp }}</td>
									<td>{{ ingestion.status }}</td>
									<td>{{ ingestion.active|yesno:"Active,Inactive" }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<div class="col-md-3">
						<p>
							<a class="btn btn-default" href="{% url 'deployments:ingestion_create' object.designator %}">Add a new ingestion</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>Data Groups</strong>
			</div>
			<div class="panel-body">
				<table class="table table-condensed table-hover table-monospace table-detailed">
					<thead>
						<tr>
							<th>File Mask</th>
							<th>Reference Designator</th>
							<th>uFrame Route</th>
							<th>Data Source</th>
						</tr>
					</thead>
					<tbody>
						{% for data_group in object.data_groups.all %}
							<tr class="main-row link-row" data-target="#dataGroupDetail_{{ data_group.id }}" data-toggle="collapse" aria-expanded="false" aria-controls="dataGroupDetail_{{ data_group.id }}">
								<td>{{ data_group.file_mask }}</td>
								<td>{{ data_group.reference_designator }}</td>
								<td>{{ data_group.uframe_route }}</td>
								<td>{{ data_group.data_source }}</td>
							</tr>
							<tr class="collapse detail-row" id="dataGroupDetail_{{ data_group.id }}">
								<td colspan="4">Extra information</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}